
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^Biyuk90\.Project\.cloud$
RewriteRule ^/?$ "https\:\/\/Biyuk90\.Project\.cloud\/" [R=301,L]

